/* Common */
body{
    background-color: black;
    color: white;
    margin:0px;
    width:100vw;
    height:100vh;
    overflow:auto;
}

/* COnnect band  */
#connectBand{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, 6.5rem);
    justify-content: center;

    /* border-bottom: solid rgb(255, 255, 255);
    border-width: 1px; */
    margin-bottom: 1rem;    
    height: 2.5rem;
    /* margin-top: 1rem; */
}

#logo {
    position: relative;
    top:0rem;
    bottom: 0px;
    right:20%;
    width: 10rem;
    height: 10rem;
}
#connectBand button{
    margin-top: 2rem;
    margin-left: 1rem;
    border-radius: 10px;
    height: 2rem ;
    /* padding: 0rem 1rem 0rem 1rem; */
    width: 40%;
    box-shadow: 0px 5px 10px 0px rgb(255, 255, 255, 0.4);            
    border:none;
    margin-bottom: 1rem;
    background-color: rgb(229, 228, 226);
}

#connect{
    color:blue;
}

#device{
    text-align: right;
    width: 100%;
    /* padding-right: 1rem; */
    padding-top: 0.5rem;
    font-family: system-ui;
    font-style: normal;
    font-weight: normal;
    font-size: x-small;
    margin-top: 2rem;
}

/* Menu  */

#menu{
    margin-top: 9rem;
    display: grid;
    gap:1rem;

}

.tabMenu{
    text-align:center;
    padding: 3rem 0 3rem 0;
    background-color: none;
    color: white;
    background-color: transparent;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 2.5px;
    font-weight: 500;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-width: x;
    transition: all .2s ease-in-out;
}

.tabMenu:active {
	transform: scale(1.1);
	transition: .1s;
}
.fa-chess-knight ,.fa-tachometer-alt ,.fa-dumbbell{
    font-size: 25px;
    right: 10%;
    top:10%;
    position: relative;
    margin-right: 3rem;
    color:rgba(255,49,49,0.8);
}
/* Form */
.form {
    background-color: #15172b;
    border-radius: 20px;
    padding: 20px;
    margin: 0 1rem 0 1rem
  }

/* Select Box */
.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  color:white
}
.select-dropdown {
  position: relative;
  background-color: #303245;
  border-radius: 12px;
  padding: 0.5rem 0 0.5rem 0;

}
.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
  background-color: #303245;

}
.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
#comboValue{
  width: 100%;
}
/* Input */
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 100px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    /* // outline: 0; */
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }
/* Button Submit */
  .submit{
    background-color: none;
  }
/* Terminal */

#terminal div {
    color: gray;
}

#terminal div.out {
    color: red;
}

#terminal div.in {
    color: blue;
}