/* Common */
body{
    background-color: black;
    color: white;
    margin:0px;
    width:100vw;
    height:100vh;
    overflow:auto;
}

/* COnnect band  */
#connectBand{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, 6.5rem);
    justify-content: center;

    /* border-bottom: solid rgb(255, 255, 255);
    border-width: 1px; */
    margin-bottom: 1rem;    
    height: 2.5rem;
    /* margin-top: 1rem; */
}

#logo {
    width: 7rem;
    height: 7rem;
}
#connectBand button{
    margin-top: 01.2rem;
    margin-left: 1rem;
    border-radius: 10px;
    height: 2rem ;
    /* padding: 0rem 1rem 0rem 1rem; */
    width: 40%;
    box-shadow: 0px 5px 10px 0px rgb(255, 255, 255, 0.4);            
    border:none;
    margin-bottom: 1rem;
    background-color: rgb(229, 228, 226);
}

#connect{
    color:blue;
}

#device{
    text-align: right;
    width: 100%;
    /* padding-right: 1rem; */
    padding-top: 0.5rem;
    font-family: system-ui;
    font-style: normal;
    font-weight: normal;
    font-size: x-small;
    margin-top: 1rem;
}

/* Menu  */

#menu{
    margin-top: 9rem;
    display: grid;
    gap:1.5rem;

}

.tabMenu{
    text-align:center;
    padding: 3rem 0 3rem 0;
    background-color: none;
    color: white;
    background-color: transparent;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 2.5px;
    font-weight: 500;
    border: 1px;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
    border-style: solid;
    border-width: x;
  
}

.fa-chess-knight ,.fa-tachometer-alt ,.fa-dumbbell{
    font-size: 25px;
    right: 10%;
    top:10%;
    position: relative;
    margin-right: 3rem;
    color:rgba(255, 0, 0, 0.5);

    ;
}

/* Terminal */

#terminal div {
    color: gray;
}

#terminal div.out {
    color: red;
}

#terminal div.in {
    color: blue;
}